
<div class="mt-5 p-3">

    <mat-form-field appearance="fill" class="w-50">
        <mat-label>Nhập thông tin xe đã cho thuê</mat-label>
        <input matInput
              #searchKeyWord
              (keyup)="searchByKeyWord(searchKeyWord.value)"
              placeholder="Nhập thông tin xe đã cho thuê"
              id="searchKey"
              name="searchKey">
        <!-- <mat-hint> search </mat-hint> -->
      </mat-form-field>
      

    <div *ngIf="showTable">
        <table mat-table [dataSource]="carDetails" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Id Column -->
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Make Column -->
            <ng-container matColumnDef="Make">
                <th mat-header-cell *matHeaderCellDef>Số chỗ</th>
                <td mat-cell *matCellDef="let element"> {{element.make}} </td>
            </ng-container>

            <!-- Model Column -->
            <ng-container matColumnDef="Model">
                <th mat-header-cell *matHeaderCellDef> Tên xe </th>
                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
            </ng-container>

            <!-- Year Column -->
            <ng-container matColumnDef="Year">
                <th mat-header-cell *matHeaderCellDef> Năm </th>
                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>


            <!-- Transmission Column -->
            <ng-container matColumnDef="Transmission">
                <th mat-header-cell *matHeaderCellDef> Biển số </th>
                <td mat-cell *matCellDef="let element"> {{element.transmission}} </td>
            </ng-container>


            <!-- Fuel Type Column -->
            <ng-container matColumnDef="Tuel Type">
                <th mat-header-cell *matHeaderCellDef> Loại xe </th>
                <td mat-cell *matCellDef="let element"> {{element.fuelType}} </td>
            </ng-container>

            <!-- DailyRentalPrice Column -->
            <ng-container matColumnDef="DailyRentalPrice">
                <th mat-header-cell *matHeaderCellDef> Giá thuê </th>
                <td mat-cell *matCellDef="let element"> {{element.dailyRentalPrice}} </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Mô tả</th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- Images Column -->
            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef> Hành động</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="showImages(element)">
                        <mat-icon> images </mat-icon>
                    </button>
                    <button mat-icon-button (click)="editCarDetails(element.id)">
                        <mat-icon> edit </mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="showDialogDeleteCar()">
                        <mat-icon> delete </mat-icon>
                    </button>
                </td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="text-center p-5">
        <button type="button" mat-raised-button color="primary" (click)="loadMoreCar()">Xem thêm</button>
    </div>
</div>
